<h1>The Many Assets</h1>
<div class="jumbotron">
  <p>Kata: Loading many assets has as many problems as it has solutions. Bring the page load time down by taking advantage of several different solutions.</p>
  <p>Hint: Use transaction traces to see where it is spending time.</p>
</div>

<% @num_high.times do |i| -%>
  <% @num_wide.times do |j| -%>
    <% icon = @icons[i*@num_wide + j] -%>
    <img src='<%= "/many_assets/display/#{icon.id}.ico" %>' width='16' height='16' title='<%= icon.web_site.url %>'>
  <% end -%>
  <br>
<% end %>