<h1>The Tweets</h1>
<div class="hero-unit" style="margin-top: 0; padding-top: 0.7em; padding-bottom: 0.7em; border: thin solid #ccc;">
	<style>
	.hero-unit p { line-height: 140%; }
	</style>
  <p>Kata: One of the most popular things to do these days is call 
	an external service and pull down some sort of social flair to make the app more "hip."</p>
	<p>Hint: Use the New Relic Real User Monitoring (RUM) to find out if the problem is 
		on the client stream or in the controller code</p>
</div>

<%
@nodes.each do |node| 
	%><%= node.html_safe %><br><%
end
%>