<h1>The Cache</h1>
<div class="hero-unit" style="margin-top: 0; padding-top: 0.7em; padding-bottom: 0.7em; border: thin solid #ccc;">
	<style>
	.hero-unit p { line-height: 140%; }
	</style>
  <p>Kata: lack of proper caching can hurt a website's performance. This page has some 
	expensive computations that are cached to decrease page load times and yet it's still slow.
	See if you can figure out why.</p>
  <p>Hint: Go to New Relic and create a custom dashboard for the Metric : Custom/compute_sine 
	and see if anything sticks out as odd as you refresh the page a few times.</p>
</div>

<%
@values.each do |v|
	%><%= v %> <%
end
%>